In [4]:
from microplate.microplate import Microplate
import pandas as pd

sample = {'A1': 1234}  # Changed from {'well_index': 'A1', 'sample_id': 1234}
sample2 = {'B1': 'test'}
sample_df = pd.DataFrame({'well_index': ['C1', 'D1', 'E1'], 'sample_id': [5678, 'test2', 'test3']})

plate = Microplate(rows=8, cols=12, plate_name='test_plate', sample_ids=sample)
plate.add_samples(sample2)
plate.add_samples(sample_df)

plate.print_matrix()
print(plate.df)

Plate Name: test_plate
Plate ID: None
       1          2          3          4          5          6          7          8          9          10         11         12
A     1234       test       nan        nan        nan         -          -          -          -          -          -          -
B      -          -          -          -          -          -          -          -          -          -          -          -
C      -          -          -          -          -          -          -          -          -          -          -          -
D      -          -          -          -          -          -          -          -          -          -          -          -
E      -          -          -          -          -          -          -          -          -          -          -          -
F      -          -          -          -          -          -          -          -          -          -          -          -
G      -          -          -          -          -          -          -          -          -          -          -          -
H      -          -          -          -          -          -          -          -          -          -          -          -
    plate_name plate_id well_index row  column sample_id
0   test_plate     None         A1   A       1      1234
1   test_plate     None         B1   B       1      test
2   test_plate     None         C1   C       1       NaN
3   test_plate     None         D1   D       1       NaN
4   test_plate     None         E1   E       1       NaN
..         ...      ...        ...  ..     ...       ...
91  test_plate     None        D12   D      12      None
92  test_plate     None        E12   E      12      None
93  test_plate     None        F12   F      12      None
94  test_plate     None        G12   G      12      None
95  test_plate     None        H12   H      12      None

[96 rows x 6 columns]